body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Inter, sans-serif;
  gap: 60px;
  background: #F5F5F7;
  width: 100vw;
}
.top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
    width: 100%;
}
.top1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.backround {
    width: 100%;
    height: 75px;
    background: #F5F5F7;
    position: relative;
    overflow: hidden;
}
.backround1 {
    width: 40%;
    height: 50px;
    border-radius: 100px;
    background-color: #FD8C1F;
    filter: blur(10px);
    position: absolute;
    bottom: 55px;
    right: 0;
}
.backround2 {
    width: 90%;
    height: 150px;
    border-radius: 200px;
    background-color: #E44CBB;
    filter: blur(10px);
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}
.backround3 {
    width: 67.5%;
    height: 150px;
    border-radius: 200px;
    background: #F55BE4;
    opacity: 0.5;
    filter: blur(10px);
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}
.backround4 {
    width: 60%;
    height: 75px;
    border-radius: 100px;
    background-color: #019FFB;
    opacity: 0.5;
    filter: blur(10px);
    position: absolute;
    left: 0;
    bottom: 50px;
}
.nav {
  width: 100vw;
  height: 44px;
  background-color: rgba(245, 245, 247, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.28px;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.header {
  width: 100%;
  height: 60px;
  color: #1d1d1f;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.top2 {
    display: flex;
    justify-content: space-between;
    margin: 0 140px;
    align-items: flex-start;
    width: calc(100% - 280px);
}
.top2-1 {
    display: flex;
    align-items: center;
    gap: 32px;
}
.top2-1txt1 {
    font-family: Inter;
    font-size: 44px;
    font-weight: 700;
    line-height: 52px;
    background: linear-gradient(90deg, #0090F7 0%, #BA62FC 50%, #F2416B 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top2-1txt2 {
    font-family: Inter;
    font-size: 44px;
    font-weight: 700;
    line-height: 52px;
    color: #6E6E73;
}
.top2-2 {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}
.top2-2img {
    width: 35px;
    height: 35px;
}
.top2-2baruun {
    width: 175px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
}
.top2-2txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}
.top2-2txt1 {
    height: 20px;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
}
.top2-2txt2 {
    height: 16px;
    font-size: 14px;
    font-weight: 400;
    color: #0066CC;
    text-decoration: underline;
}
.top3 {
    width: calc(100% - 280px);
    display: flex;
    gap: 12px;
    margin: 0 140px;
}
.top3-item {
    width: 136px;
    padding: 16px 8px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top3-img {
    height: 78px;
}
.top3-txt {
    height: 20px;
    font-size: 14px;
    font-weight: 700;
    color: #1d1d1f;
    text-align: center;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
}
.section1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
    width: 100%;
}
.title {
    margin-left: 140px;
    display: flex;
    gap: 4px;
    justify-content: flex-start;
}
.title1 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    background: linear-gradient(90deg, #0090F7 0%, #BA62FC 50%, #F2416B 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title2 {
    color: #6E6E73;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}
.scroll {
    display: flex;
    gap: 20px;
    margin-left: 140px;
    width: calc(100% - 280px);
    height: 500px;
    overflow: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.scroll ::-webkit-scrollbar {
    display: none;
}
.sec1-item {
    min-width: 400px;
    height: 500px;
    scroll-snap-align: center;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
}
.sec1-txt1 {
    width: 340px;
    margin-top: 54px;
    margin-left: 30px;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.1428571429;
    color: black;
}
.sec1-txt2 {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.1428571429;
    color: black;
}
.sec1-txt3 {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.1428571429;
    color: black;
}
.text-color {
    color: white;
}
.sec1-1 {
    background-image: url(./images2/1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.sec1-2 {
    background-image: url(./images2/2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.sec1-3 {
    background-image: url(./images2/3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.sec1-4 {
    background-image: url(./images2/4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.sec1-5 {
    background-image: url(./images2/5.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.sec1-6 {
    background-image: url(./images2/6.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.sec1-7 {
    background-image: url(./images2/7.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.sec1-8 {
    background-image: url(./images2/8.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.sec1-9 {
    background-image: url(./images2/9.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.sec1-10 {
    background-image: url(./images2/10.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.sec1-11 {
    background-image: url(./images2/11.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.sec1-12 {
    background-image: url(./images2/12.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}