body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Inter, sans-serif;
  gap: 60px;
  background: #f5f5f7;
  width: 100vw;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  width: 100%;
}
.top1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.backround {
  width: 100%;
  height: 75px;
  background: #f5f5f7;
  position: relative;
  overflow: hidden;
}
.backround1 {
  width: 40%;
  height: 50px;
  border-radius: 100px;
  background-color: #fd8c1f;
  filter: blur(10px);
  position: absolute;
  bottom: 55px;
  right: 0;
}
.backround2 {
  width: 90%;
  height: 150px;
  border-radius: 200px;
  background-color: #e44cbb;
  filter: blur(10px);
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}
.backround3 {
  width: 67.5%;
  height: 150px;
  border-radius: 200px;
  background: #f55be4;
  opacity: 0.5;
  filter: blur(10px);
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}
.backround4 {
  width: 60%;
  height: 75px;
  border-radius: 100px;
  background-color: #019ffb;
  opacity: 0.5;
  filter: blur(10px);
  position: absolute;
  left: 0;
  bottom: 50px;
}
.nav {
  width: 100vw;
  height: 44px;
  background-color: rgba(245, 245, 247, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.28px;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.header {
  width: 100%;
  height: 60px;
  color: #1d1d1f;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.top2 {
  display: flex;
  justify-content: space-between;
  margin: 0 140px;
  align-items: flex-start;
  width: calc(100% - 280px);
}
.top2-1 {
  display: flex;
  align-items: center;
  gap: 32px;
}
.top2-1txt1 {
  font-family: Inter;
  font-size: 44px;
  font-weight: 700;
  line-height: 52px;
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.top2-1txt2 {
  font-family: Inter;
  font-size: 44px;
  font-weight: 700;
  line-height: 52px;
  color: #6e6e73;
}
.top2-2 {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.top2-2img {
  width: 35px;
  height: 35px;
}
.top2-2baruun {
  width: 175px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}
.top2-2txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.top2-2txt1 {
  height: 20px;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
}
.top2-2txt2 {
  height: 16px;
  font-size: 14px;
  font-weight: 400;
  color: #0066cc;
  text-decoration: underline;
}
.top3 {
  width: 100%;
  display: flex;
  gap: 12px;
}
.top3-item {
  width: 136px;
  padding: 16px 8px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scroll-jijig-zuun {
  margin-left: 140px;
}
.scroll-jijig-baruun {
  margin-right: 140px;
}
.top3-img {
  height: 78px;
}
.top3-txt {
  height: 20px;
  font-size: 14px;
  font-weight: 700;
  color: #1d1d1f;
  text-align: center;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 100%;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  width: 100%;
}
.title {
  margin-left: 140px;
  display: flex;
  gap: 4px;
  justify-content: flex-start;
}
.title1 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title2 {
  color: #6e6e73;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}
.scroll {
  display: flex;
  gap: 20px;
  overflow: visible;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.scroll-jijig {
  display: flex;
  overflow: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
}
.sec1-item {
  min-width: 400px;
  height: 500px;
  scroll-snap-align: center;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  overflow: visible;
}
.sec1-item:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.sec1-txt1 {
  width: 340px;
  margin-top: 54px;
  margin-left: 30px;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.1428571429;
  color: black;
}
.sec1-txt2 {
  margin-top: 10px;
  margin-left: 30px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.1428571429;
  color: black;
}
.sec1-txt3 {
  margin-top: 10px;
  margin-left: 30px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.1428571429;
  color: black;
}
.text-color {
  color: white;
}
.sec1-1 {
  background-image: url(./images2/1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 140px;
}
.sec1-2 {
  background-image: url(./images2/2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sec1-3 {
  background-image: url(./images2/3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sec1-4 {
  background-image: url(./images2/4.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sec1-5 {
  background-image: url(./images2/5.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sec1-6 {
  background-image: url(./images2/6.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sec1-7 {
  background-image: url(./images2/7.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sec1-8 {
  background-image: url(./images2/8.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sec1-9 {
  background-image: url(./images2/9.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sec1-10 {
  background-image: url(./images2/10.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sec1-11 {
  background-image: url(./images2/11.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sec1-12 {
  background-image: url(./images2/12.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 140px;
}
.sec2-item {
  min-width: 313px;
  height: 500px;
  scroll-snap-align: center;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  background-color: white;
  overflow: hidden;
  position: relative;
}
.sec2-item:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.sec2-1txt1 {
  margin: 30px 0 0 30px;
  font-size: 12px;
  font-weight: 500;
  color: rgb(66, 66, 69);
  line-height: 16px;
}
.sec2-1txt2 {
  margin: 8px 0 0 30px;
  font-size: 28px;
  font-weight: 600;
  color: rgb(29, 29, 31);
  line-height: 32px;
}
.circle-color {
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  position: absolute;
  top: 301px;
}
.circle {
  width: 12px;
  height: 12px;
}
.sec2-txt1 {
  justify-content: flex-start;
  margin: 0;
  color: rgb(182, 68, 0);
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  width: calc(100% - 60px);
  position: absolute;
  top: 359px;
}
.sec2-txt2 {
  color: rgb(29, 29, 31);
  font-size: 17px;
  font-weight: 500;
  line-height: 21px;
  justify-content: flex-start;
  width: calc(100% - 60px);
  position: absolute;
  top: 381px;
}
.sec2-txt3 {
  color: rgb(29, 29, 31);
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  justify-content: flex-start;
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.sec2-1 {
  margin-left: 140px;
  min-width: 400px;
  height: 500px;
  align-items: flex-start;
  background-image: url(./images2/sec2-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sec2-2 {
  width: 313px;
  height: 301px;
}
.sec2-3 {
  width: 230px;
  height: 230px;
  position: absolute;
  top: 71px;
  left: 41.5px;
}
.sec2-4 {
  margin-right: 140px;
}
.sec3-item {
  min-width: 480px;
  height: 500px;
  scroll-snap-align: center;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  background-color: white;
  overflow: hidden;
  position: relative;
}
.sec3-item:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.sec3-1 {
  background-image: url(./images2/sec3-1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 140px;
}
.sec3-2 {
  background-image: url(./images2/sec3-2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sec3-3 {
  background-image: url(./images2/sec3-3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sec3-4 {
  background-image: url(./images2/sec3-4.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sec3-5 {
  background-image: url(./images2/sec3-5.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sec3-6 {
  background-image: url(./images2/sec3-6.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 140px;
}
.sec3-txt1 {
  margin: 30px 30px 0 30px;
  color: #424245;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  height: 16px;
}
.sec3-txt2 {
  margin: 8px 30px 0 30px;
  color: #1d1d1f;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
}
.sec3-txt3 {
  margin: 10px 60px 0 30px;
  color: #1d1d1f;
  font-size: 17px;
  font-weight: 300;
  line-height: 21px;
}
.sec4-1 {
  margin-left: 140px;
  min-width: 400px;
  height: 500px;
  align-items: flex-start;
  background-image: url(./images2/sec4-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.solongo {
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec5-1 {
  background-image: url(./images2/sec5-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 140px;
}
.sec5-2 {
  background-image: url(./images2/sec5-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sec5-3 {
  background-image: url(./images2/sec5-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sec5-4 {
  min-width: 400px;
  height: 500px;
  background-image: url(./images2/sec5-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sec5-5 {
  background-image: url(./images2/sec5-5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sec5-6 {
  background-image: url(./images2/sec5-6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sec5-7 {
  background-image: url(./images2/sec5-7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 140px;
}
.sec6-1 {
  background-image: url(./images2/sec6-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 140px;
}
.sec6-2 {
  background-image: url(./images2/sec6-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sec6-3 {
  background-image: url(./images2/sec6-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sec6-4 {
  background-image: url(./images2/sec6-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sec6-5 {
  background-image: url(./images2/sec6-5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sec6-6 {
  background-image: url(./images2/sec6-6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 140px;
}
.sec6-item {
  min-width: 400px;
  height: 500px;
  scroll-snap-align: center;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  background-color: white;
  overflow: hidden;
  position: relative;
}
.sec6-item:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.sec6-txt1 {
  color: #86868b;
}
.sec6-txt2 {
  color: white;
}
.sec7-head {
  margin: 0 140px;
  color: #1d1d1f;
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
}
.sec7-bot {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  margin: 0 140px 100px 140px;
}
.sec7-txt {
  color: #1d1d1f;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 12px;
  border: 1px solid #1d1d1f;
  border-radius: 100px;
  transition: all 0.3s ease;
}
.sec7-txt:hover {
  color: white;
  background-color: #1d1d1f;
}