body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Inter, sans-serif;
  gap: 12px;
  max-width: 2536px;
}
.nav {
  width: 100vw;
  height: 44px;
  background-color: rgba(245, 245, 247, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.28px;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.burger {
  display: none;
}
.header {
  width: 100%;
  height: 52px;
  color: #1d1d1f;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.big-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  max-width: 2536px;
}
.big-content1 {
  height: 692px;
  max-width: 2536px;
  width: 100vw;
  background-image: url(./images/16pro.jpg);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.big-content2 {
  height: 692px;
  max-width: 2536px;
  width: 100vw;
  background-image: url(./images/16.jpg);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.big-content3 {
  height: 692px;
  max-width: 2536px;
  width: 100vw;
  background-image: url(./images/gift.jpg);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.iphone {
  margin-top: 55px;
  width: 405px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.iphone-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.iphone-txt1 {
  height: 60px;
  color: #f5f5f7;
  font-size: 52px;
  font-weight: 500;
  letter-spacing: -0.28px;
}
.iphone-txt2 {
  height: 32px;
  color: #f5f5f7;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.28px;
}
.iphone-button {
  display: flex;
  align-items: center;
  gap: 16px;
}
.iphone-button1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  border-radius: 100px;
  border: 1px solid #0071e3;
  background-color: #0071e3;
  color: white;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.374px;
}
.iphone-button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  border-radius: 100px;
  border: 1px solid #2997ff;
  color: #2997ff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.374px;
}
.iphone2-button1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  border-radius: 100px;
  border: 1px solid white;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.374px;
}
.iphone2-button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  border-radius: 100px;
  border: 1px solid white;
  color: white;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.374px;
}
.iphone3-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  border-radius: 100px;
  border: 1px solid #0071e3;
  background-color: #0071e3;
  color: white;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.374px;
  margin-bottom: 82px;
}
.iphone3-txt1 {
  height: 60px;
  color: black;
  font-size: 52px;
  font-weight: 500;
  letter-spacing: -0.28px;
}
.iphone3-txt2 {
  height: 32px;
  color: black;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.28px;
}
.small-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.small {
  width: 100%;
  height: 580px;
  display: flex;
  gap: 12px;
  justify-content: center;
}
.small-pic {
  max-width: 1262px;
}
.small-content1 {
  background-image: url(./images/small1.jpg);
  width: calc(50% - 6px);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.small-content2 {
  background-image: url(./images/small2.jpg);
  width: calc(50% - 6px);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.small-content3 {
  background-image: url(./images/small3.jpg);
  width: calc(50% - 6px);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.small-content4 {
  background-image: url(./images/small4.jpg);
  width: calc(50% - 6px);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.small-content5 {
  background-image: url(./images/small5.jpg);
  width: calc(50% - 6px);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.small-content6 {
  background-image: url(./images/small6.jpg);
  width: calc(50% - 6px);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.small-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  margin: 0;
  margin-top: 48px;
  width: 322px;
}
.small-txt1 {
  height: 44px;
  font-size: 36px;
  text-align: center;
  font-weight: 500;
  color: #1d1d1f;
}
.small-txt2 {
  height: 25px;
  font-size: 18px;
  text-align: center;
  font-weight: 300;
  color: #1d1d1f;
}
.small-button {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 10px;
}
.small-button1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  border-radius: 100px;
  border: 1px solid #0071e3;
  background-color: #0071e3;
  color: white;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.374px;
}
.small-button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 26px;
  border-radius: 100px;
  border: 1px solid #2997ff;
  color: #2997ff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.374px;
}
.small1-txt1 {
  background-image: url(./images/ipadair.png);
  height: 33px;
  width: 430px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 9px;
}
.color-txt {
  width: 169px;
  height: 18px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  background: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  bottom: 50px;
}
.small2-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  margin: 0;
  margin-top: 401px;
}
.small2-color {
  color: #f5f5f7;
}
.small3-txt1 {
  width: 152px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.small3-watch1 {
  display: flex;
  gap: 8px;
  align-items: flex-start;
}
.small3-watch1txt {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}
.small3-watch2 {
  color: black;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2px;
}
.small3-txt2 {
  font-size: 18px;
  text-align: center;
  font-weight: 300;
  color: #1d1d1f;
  line-height: 25px;
  margin-bottom: 16px;
}
.scroll-big {
  width: 100%;
  height: 668px;
  display: flex;
  gap: 12px;
  overflow: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.scroll-big ::-webkit-scrollbar {
  display: none;
}
.poster {
  height: 668px;
  min-width: 1250px;
  scroll-snap-align: center;
}
.movie1 {
  background-image: url(./images/movie1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}
.movie2 {
  background-image: url(./images/movie2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.movie3 {
  background-image: url(./images/movie3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.movie4 {
  background-image: url(./images/movie4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.movie5 {
  background-image: url(./images/movie5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.movie6 {
  background-image: url(./images/movie6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.movie7 {
  background-image: url(./images/movie7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.movie8 {
  background-image: url(./images/movie8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.movie9 {
  background-image: url(./images/movie9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.stream {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-left: 70px;
  margin-top: 566px;
}
.stream-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  border-radius: 100px;
  background-color: #f5f5f7;
  font-size: 17px;
  font-weight: 300;
  flex-shrink: 0;
}
.stream-genre {
  display: flex;
  gap: 5px;
  font-size: 17px;
  color: white;
  line-height: 20px;
  font-weight: 400;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
.highlight {
  font-weight: 700;
}
.tseg {
  font-weight: 900;
}
.stream-box:hover {
  background-color: white;
}
.scroll-dot {
  width: 220px;
  height: 8px;
  display: flex;
  justify-content: space-around;
}
.circle {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.42);
}
.circle:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* tablet size */
@media (max-width: 768px) {
  body {
    gap: 12px;
  }
  .burger {
    display: block;
  }
  .nav-menu {
    display: none;
  }
  .nav {
    width: calc(100vw - 30px);
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header {
    width: 440px;
  }
  .big-content1 {
    height: 650px;
  }
  .big-content2 {
    height: 650px;
  }
  .big-content3 {
    height: 650px;
  }
  .iphone {
    margin-top: 58px;
    width: 405px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .iphone-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
  .iphone-txt1 {
    height: 60px;
    color: #f5f5f7;
    font-size: 42px;
    font-weight: 500;
    letter-spacing: -0.28px;
  }
  .iphone-txt2 {
    height: 32px;
    color: #f5f5f7;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: -0.28px;
  }
  .iphone3-txt1 {
    height: 60px;
    color: black;
    font-size: 42px;
    font-weight: 500;
    letter-spacing: -0.28px;
  }
  .iphone3-txt2 {
    height: 32px;
    color: black;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: -0.28px;
  }
  .small {
    height: 490px;
    background-size: cover;
  }
  .small-pic {
    background-size: cover;
  }
  .small-content3 {
    background-image: url(./images/watch10.jpg);
    width: calc(50% - 6px);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .small-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    margin: 0;
    margin-top: 42px;
    width: 241px;
  }
  .small-txt1 {
    height: 36px;
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    color: #1d1d1f;
  }
  .small-txt2 {
    height: 23px;
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    color: #1d1d1f;
  }
  .small-button {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 16px;
  }
  .small-button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 100px;
    border: 1px solid #0071e3;
    background-color: #0071e3;
    color: white;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.374px;
  }
  .small-button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 100px;
    border: 1px solid #2997ff;
    color: #2997ff;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.374px;
  }
  .small1-txt1 {
    background-image: url(./images/ipadair.png);
    width: 180px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 9px;
  }
  .color-txt {
    width: 169px;
    height: 18px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    background: linear-gradient(
      90deg,
      #0090f7 0%,
      #ba62fc 33.33%,
      #f2416b 66.67%,
      #f55600 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    bottom: 36px;
  }
  .small2-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    margin: 0;
    margin-top: 330px;
  }
  .small2-color {
    color: #f5f5f7;
  }
  .small3-txt1 {
    width: 152px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
  .small3-watch1 {
    display: flex;
    gap: 8px;
    align-items: flex-start;
  }
  .small3-watch1txt {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
  }
  .small3-watch2 {
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2px;
  }
  .small3-txt2 {
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    color: #1d1d1f;
    line-height: 25px;
    margin-bottom: 16px;
    width: 285px;
  }
  .small-txt2-1 {
    width: 360px;
  }
  .scroll-big {
    height: 368px;
  }
  .poster {
    height: 368px;
    min-width: 689px;
  }
  .stream {
    gap: 18px;
    margin-left: 30px;
    margin-top: 305px;
  }
  .stream-box {
    padding: 8px 14px;
    font-size: 14px;
  }
}
/* phone size */
@media (max-width: 390px) {
  .header {
    width: 320px;
    height: 73px;
  }
  .iphone {
    margin-top: 36px;
    width: 241px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .iphone1 {
    margin-top: 350px;
  }
  .iphone-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
  .iphone-txt1 {
    height: 36px;
    color: #f5f5f7;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.28px;
  }
  .iphone-txt2 {
    height: 22px;
    color: #f5f5f7;
    font-size: 18px;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: -0.28px;
  }
  .iphone3-txt1 {
    height: 36px;
    color: black;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -0.28px;
  }
  .iphone3-txt2 {
    height: 40px;
    color: black;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.28px;
    text-align: center;
  }
  .big-content1 {
    height: 500px;
    width: 100vw;
    background-image: url(./images/16pro-utas.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .big-content2 {
    height: 500px;
    width: 100vw;
    background-image: url(./images/16-utas.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .big-content3 {
    height: 500px;
    width: 100vw;
    background-image: url(./images/gift.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .iphone-button {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .iphone-button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 100px;
    border: 1px solid #0071e3;
    background-color: #0071e3;
    color: white;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.374px;
    line-height: 20px;
  }
  .iphone-button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 100px;
    border: 1px solid #2997ff;
    color: #2997ff;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.374px;
    line-height: 20px;
  }
  .iphone2-button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 100px;
    border: 1px solid white;
    background-color: white;
    color: black;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.374px;
    line-height: 20px;
  }
  .iphone2-button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 100px;
    border: 1px solid white;
    color: white;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.374px;
    line-height: 20px;
  }
  .iphone3-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 100px;
    border: 1px solid #0071e3;
    background-color: #0071e3;
    color: white;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.374px;
    line-height: 20px;
    margin-bottom: 0px;
  }
  .iphone3 {
    margin-top: 0;
    margin-bottom: 36px;
  }
  .small {
    height: auto;
    background-size: cover;
    flex-direction: column;
  }
  .small-pic {
    height: 500px;
    width: auto;
    background-size: cover;
  }
  .scroll-big {
    height: 495px;
  }
  .poster {
    height: 495px;
    min-width: 274px;
    position: relative;
  }
  .movie1 {
    background-image: url(./images/movie1-1.jpg);
  }
  .movie2 {
    background-image: url(./images/movie2-2.jpg);
  }
  .movie3 {
    background-image: url(./images/movie3-3.jpg);
  }
  .movie4 {
    background-image: url(./images/movie4-4.jpg);
  }
  .movie5 {
    background-image: url(./images/movie5-5.jpg);
  }
  .movie6 {
    background-image: url(./images/movie6-6.jpg);
  }
  .movie7 {
    background-image: url(./images/movie7-7.jpg);
  }
  .movie8 {
    background-image: url(./images/movie8-8.jpg);
  }
  .movie9 {
    background-image: url(./images/movie9-9.jpg);
  }
  .stream {
    flex-direction: column-reverse;
    margin-top: 0;
    margin-left: 0;
    position: absolute;
    bottom: 30px;
    left: calc(50% - 110px);
  }
  .stream-genre {
    flex-direction: column;
    align-items: center;
    width: 220px;
    text-align: center;
  }
  .tseg {
    display: none;
  }
}
